Repository Programming-TRIGON/RobotCode2020, pull requests merged in 2020-02, with the labels that each got.

#53 Null pointer exceptions hotfix
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/vision/TurnToTarget.java
Labels: Robot, bug

#54 Support for Falcon Dashboard
  .gitignore
  jars/ColorWidget.jar
  shuffleboard/ColorWidget.jar
  src/main/java/frc/robot/motion_profiling/FollowPath.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
Labels: Motion Profiling, Utils

#59 Remove encoder from loader
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/loader/SetLoaderSpeed.java
Labels: Subsystem

#62 Auto Commands and paths
  paths/FacingPowerPortToMiddleField.fds
  paths/FacingPowerPortToTrenchStart.fds
  paths/InLineWithTrenchToTrenchStart.fds
  paths/InTrench.fds
  paths/ReverseInTrench.fds
  paths/RightOfPortToMiddleField.fds
  src/main/deploy/paths/output/FacingPowerPortToMiddleField.wpilib.json
  src/main/deploy/paths/output/FacingPowerPortToTrenchStart.wpilib.json
  src/main/deploy/paths/output/InLineWithTrenchToTrenchStart.wpilib.json
  src/main/deploy/paths/output/InTrench.wpilib.json
  src/main/deploy/paths/output/ReverseInTrench.wpilib.json
  src/main/deploy/paths/output/RightOfPortToMiddleField.wpilib.json
  src/main/deploy/paths/output/TestPath.wpilib.json
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomus/MiddleFieldAuto.java
  src/main/java/frc/robot/autonomus/SimpleAuto.java
  src/main/java/frc/robot/autonomus/StartingPose.java
  src/main/java/frc/robot/autonomus/TrenchAuto.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/motion_profiling/AutoPath.java
  src/main/java/frc/robot/motion_profiling/FollowPath.java
  src/main/java/frc/robot/subsystems/drivetrain/RotateDrivetrain.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
  src/main/java/frc/robot/subsystems/intakeopener/OpenIntake.java
  src/main/java/frc/robot/subsystems/intakeopener/SetDesiredOpenerAngle.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Auto, CommandGroup, Motion Profiling

#70 Driver OI
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
Labels: Robot

#72 add reset commands to DashboardContainer
  src/main/java/frc/robot/commands/RunWhenDisabledCommand.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Command

#65 Loader tests
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/utils/TrigonXboxController.java
Labels: Test

#74 add simple unit testing
  src/test/java/frc/robot/RobotTest.java
Labels: Test

#76 add putDefaultNumber to DashboardContainer
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Utils

#79 fix bug that caused PID Calibrations to reset when restarting robot code
  src/main/java/frc/robot/utils/TrigonPIDController.java
Labels: Utils, bug

#83 Add LED to commands
  .classpath
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/subsystems/climb/ClimbWithXbox.java
  src/main/java/frc/robot/subsystems/intake/SetIntakeSpeed.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/vision/FollowTarget.java
Labels: Command, CommandGroup, enhancement

#71 Climb testing
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/ClimbWithXbox.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/led/LED.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/test/java/frc/robot/RobotTest.java
Labels: Test

#81 Talon FX music on Drivetrain
  src/main/deploy/music/Animal_Crossing_Nook_Scranny.chrp
  src/main/deploy/music/Kid_Francescoli_Moon.chrp
  src/main/deploy/music/Rasputin.chrp
  src/main/deploy/music/Star_Wars_Main_Theme.chrp
  src/main/deploy/music/Twentieth_Century_Fox.chrp
  src/main/deploy/music/Undertale_Megalovania.chrp
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/Song.java
  vendordeps/Phoenix.json
Labels: Subsystem, enhancement

#90 District#1
  paths/EnemyTrenchToPort.fds
  paths/InitLineToEnemyTrench.fds
  paths/SimpleAutoToTrench.fds
  paths/TurnFromTrenchToPort.fds
  src/main/deploy/paths/output/EnemyTrenchToPort.wpilib.json
  src/main/deploy/paths/output/InitLineToEnemyTrench.wpilib.json
  src/main/deploy/paths/output/SimpleAutoToTrench.wpilib.json
  src/main/deploy/paths/output/TurnFromTrenchToPort.wpilib.json
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomus/SimpleAuto.java
  src/main/java/frc/robot/autonomus/StealAuto.java
  src/main/java/frc/robot/autonomus/TrenchAuto.java
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/motion_profiling/AutoPath.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
  src/main/java/frc/robot/subsystems/intake/SetIntakeSpeed.java
  src/main/java/frc/robot/subsystems/intakeopener/CloseForOffset.java
  src/main/java/frc/robot/subsystems/intakeopener/FindOpenerOffset.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
  src/main/java/frc/robot/subsystems/intakeopener/OpenIntake.java
  src/main/java/frc/robot/subsystems/loader/LoaderPower.java
  src/main/java/frc/robot/subsystems/mixer/MixerPower.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixer.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/FollowTarget.java
  src/main/java/frc/robot/vision/JoystickFollowTarget.java
  src/main/java/frc/robot/vision/Limelight.java
  src/main/java/frc/robot/vision/Target.java
  src/test/java/frc/robot/RobotTest.java
Labels: Competition

#92 District#1 day2
  src/main/deploy/paths/output/InitLineToEnemyTrench.wpilib.json
  src/main/java/frc/robot/autonomus/StealAuto.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/mixer/MixerPower.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Competition

#95 update wpilib version to 2020.3.2 add simulationInit and simulationPeriodic
  build.gradle
  src/main/java/frc/robot/Robot.java
Labels: Robot
