Repository Programming-TRIGON/RobotCode2020, pull requests merged in 2020-03, with the labels that each got.

#96 Constants merge
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomus/MiddleFieldAuto.java
  src/main/java/frc/robot/autonomus/SimpleAuto.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/constants/robots/RobotConstants.java
  src/main/java/frc/robot/motion_profiling/CalibrateFeedforward.java
  src/main/java/frc/robot/motion_profiling/FollowPath.java
  src/main/java/frc/robot/motion_profiling/Path.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/RotateDrivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/intake/SetIntakeSpeed.java
  src/main/java/frc/robot/subsystems/intakeopener/CloseForOffset.java
  src/main/java/frc/robot/subsystems/intakeopener/FindOpenerOffset.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
  src/main/java/frc/robot/subsystems/intakeopener/OpenIntake.java
  src/main/java/frc/robot/subsystems/led/LED.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixer.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixerByTime.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/vision/FollowTarget.java
  src/main/java/frc/robot/vision/JoystickFollowTarget.java
  src/main/java/frc/robot/vision/Limelight.java
  src/main/java/frc/robot/vision/TurnToTarget.java
  src/test/java/frc/robot/RobotTest.java
Labels: Robot

#100 Add soft limits to intake opener
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
Labels: Subsystem

#99 Clean limelight get distance method
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/vision/Limelight.java
Labels: Vision

#102 Clean up hook code
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Subsystem

#97 Add Short collect cell
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/autonomus/MiddleFieldAuto.java
  src/main/java/frc/robot/autonomus/OpenIntakeAndFollowPath.java
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/commands/command_groups/ShortCollectCell.java
  src/main/java/frc/robot/commands/command_groups/SortAfterCollectCell.java
  src/main/java/frc/robot/subsystems/intakeopener/FindOpenerOffset.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeAngle.java
  src/main/java/frc/robot/subsystems/intakeopener/SetIntakeAngle.java
  src/main/java/frc/robot/subsystems/intakeopener/SetIntakeState.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/test/java/frc/robot/RobotTest.java
Labels: CommandGroup, Robot

#101 Set up CollectFromFeeder for vision
  src/main/java/frc/robot/autonomus/OpenIntakeAndFollowPath.java
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/commands/command_groups/ShortCollectCell.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeAngle.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/FollowTarget.java
  src/main/java/frc/robot/vision/Target.java
  src/test/java/frc/robot/RobotTest.java
Labels: CommandGroup, Vision

#104 Sensor check test
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Safety, enhancement

#103 Take back half to spin up
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/utils/TBHController.java
Labels: Command, Utils

#105 Replace climb potentiometer with encoder
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomus/TrenchAuto.java
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/commands/command_groups/AutoClimb.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/subsystems/climb/SetHookHeight.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/intakeopener/IntakeOpener.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Subsystem

#114 XO workshop testing
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/commands/command_groups/ShortCollectCell.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/climb/MoveClimbAndHook.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
  src/main/java/frc/robot/subsystems/intakeopener/SetIntakeAngle.java
  src/main/java/frc/robot/subsystems/loader/LoaderPower.java
  src/main/java/frc/robot/subsystems/mixer/MixerPower.java
  src/main/java/frc/robot/vision/FollowTarget.java
Labels: Test

#116 add turn to target with feedforward
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/TurnToTargetWithFeedforward.java
  src/test/java/frc/robot/RobotTest.java
Labels: enhancement

#111 Modify auto
  paths/EndOfTrenchToStartOfTrench.fds
  paths/EnemyTrenchToPort.fds
  paths/FacingPowerPortToMiddleField.fds
  paths/FacingPowerPortToTrenchStart.fds
  paths/InLineWithTrenchToEndOfTrench.fds
  paths/InLineWithTrenchToTrenchStart.fds
  paths/ReverseInTrench.fds
  paths/RightOfPortToMiddleField.fds
  paths/SimpleAutoToTrench.fds
  paths/TrenchStartToMiddleField.fds
  paths/TurnFromTrenchToPort.fds
  src/main/deploy/paths/output/EndOfTrenchToStartOfTrench.wpilib.json
  src/main/deploy/paths/output/EnemyTrenchToPort.wpilib.json
  src/main/deploy/paths/output/FacingPowerPortToMiddleField.wpilib.json
  src/main/deploy/paths/output/FacingPowerPortToTrenchStart.wpilib.json
  src/main/deploy/paths/output/InLineWithTrenchToEndOfTrench.wpilib.json
  src/main/deploy/paths/output/InLineWithTrenchToTrenchStart.wpilib.json
  src/main/deploy/paths/output/ReverseInTrench.wpilib.json
  src/main/deploy/paths/output/RightOfPortToMiddleField.wpilib.json
  src/main/deploy/paths/output/SimpleAutoToTrench.wpilib.json
  src/main/deploy/paths/output/TrenchStartToMiddleField.wpilib.json
  src/main/deploy/paths/output/TurnFromTrenchToPort.wpilib.json
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/autonomus/CollectCellAndFollowPath.java
  src/main/java/frc/robot/autonomus/HitAuto.java
  src/main/java/frc/robot/autonomus/MiddleFieldAndTrenchAuto.java
  src/main/java/frc/robot/autonomus/MiddleFieldAuto.java
  src/main/java/frc/robot/autonomus/OpenIntakeAndFollowPath.java
  src/main/java/frc/robot/autonomus/SimpleAuto.java
  src/main/java/frc/robot/autonomus/StartingPose.java
  src/main/java/frc/robot/autonomus/StealAuto.java
  src/main/java/frc/robot/autonomus/TrenchAuto.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/motion_profiling/AutoPath.java
  src/main/java/frc/robot/motion_profiling/Path.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/test/java/frc/robot/RobotTest.java
Labels: Auto
