Repository Programming-TRIGON/RobotCode2020, pull requests merged in 2020-01, with the labels that each got.

#3 Fix led package name
  src/main/java/frc/robot/subsystems/led/LED.java
  src/main/java/frc/robot/subsystems/led/LEDColor.java
Labels: Subsystem, bug

#9 Trigon drive
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
Labels: Utils

#12 Mixer subsystem and commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixer.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Command, Subsystem

#17 LED subsystem update
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/led/LED.java
  src/main/java/frc/robot/subsystems/led/LEDColor.java
  src/main/java/frc/robot/utils/DriverStationLogger.java
Labels: Subsystem, Utils

#10 Drivetrain subsystem
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/motion_profiling/CalibrateFeedforward.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/DrivetrainInterface.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
Labels: Subsystem

#13 Intake subsystem and commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  vendordeps/REVRobotics.json
Labels: Command, Subsystem

#16 MoveMovableSubsystem command
  src/main/java/frc/robot/commands/MoveMovableSubsystem.java
Labels: Command

#14 Climb subsystem and commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/climb/ClimbWithXbox.java
Labels: Command, Subsystem

#4 Shooter subsystem and commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/subsystems/shooter/ShooterVelocity.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Command, Subsystem

#21 bug fix - add burn flush to sparkMax
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
Labels: Subsystem, bug

#18 Loader subsystem and commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/loader/setLoaderVelocity.java
Labels: Command, Subsystem

#27 Fix null pointer exception
  src/main/java/frc/robot/Robot.java
Labels: bug

#22 Auto shoot command group
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/loader/SetLoaderVelocity.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixer.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/Target.java
Labels: CommandGroup

#28 CollectCell Command Group
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/commands/command_groups/ExampleCommandGroup.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
Labels: CommandGroup

#26 Readme
  README.md
  images/TrigonLogo.png
Labels: documentation

#19 Trigon pid controller
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/drivetrain/RotateDrivetrain.java
  src/main/java/frc/robot/subsystems/loader/SetLoaderVelocity.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/utils/PIDSettings.java
  src/main/java/frc/robot/utils/TrigonPIDController.java
  src/main/java/frc/robot/vision/FollowTarget.java
  src/main/java/frc/robot/vision/TurnToTarget.java
Labels: Utils

#32 add CollectFromFeeder CommandGroup
  src/main/java/frc/robot/commands/command_groups/CollectFromFeeder.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: CommandGroup

#31 Trigon xbox controller class
  src/main/java/frc/robot/utils/TrigonXboxController.java
Labels: Utils

#41 AutoShoot bug fixes
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/vision/TurnToTarget.java
Labels: CommandGroup

#35 DriveWithXbox
  .vscode/settings.json
  src/main/java/frc/robot/subsystems/drivetrain/DriveWithXbox.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/TrigonDrive.java
Labels: Command

#42 Log commands
  src/main/java/frc/robot/Robot.java
Labels: Utils

#34 Switchable OI
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
Labels: Robot

#43 Sensors disconnect detection
  src/main/java/frc/robot/commands/CommandWithoutSubsystemRequirement.java
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/components/Pigeon.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DriverStationLogger.java
Labels: Utils

#37 Override Subsystems and Command
  src/main/java/frc/robot/commands/OverrideCommand.java
  src/main/java/frc/robot/subsystems/OverridableSubsystem.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
Labels: Command, Subsystem

#36 logging with oblog
  build.gradle
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DashboardController.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/Limelight.java
Labels: Robot, Utils

#25 Add stall change side for loader
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/loader/SetLoaderVelocity.java
Labels: Command

#45 Cleanup even more code
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/components/TrigonSolenoid.java
  src/main/java/frc/robot/constants/RobotMap.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/motion_profiling/Waypoint.java
  src/main/java/frc/robot/subsystems/climb/Climb.java
  src/main/java/frc/robot/subsystems/drivetrain/Drivetrain.java
  src/main/java/frc/robot/subsystems/drivetrain/RotateDrivetrain.java
  src/main/java/frc/robot/subsystems/intake/Intake.java
  src/main/java/frc/robot/subsystems/led/LED.java
  src/main/java/frc/robot/subsystems/loader/Loader.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/utils/DriverStationLogger.java
  src/main/java/frc/robot/utils/TrigonXboxController.java
  src/main/java/frc/robot/vision/Target.java
Labels: Utils

#47 vision shooter velocity calculator
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/vision/Limelight.java
Labels: CommandGroup, Vision

#48 Xbox rumble function
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/utils/TrigonXboxController.java
Labels: Utils, enhancement

#50 Calculate distance with limelight based on the current pipeline
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/vision/Limelight.java
Labels: Vision

#49 Commands and command groups fixes
  src/main/java/frc/robot/OI.java
  src/main/java/frc/robot/commands/RunTwoCommands.java
  src/main/java/frc/robot/commands/SensorCheck.java
  src/main/java/frc/robot/commands/command_groups/AutoShoot.java
  src/main/java/frc/robot/commands/command_groups/CollectCell.java
  src/main/java/frc/robot/constants/RobotConstants.java
  src/main/java/frc/robot/constants/robots/RobotA.java
  src/main/java/frc/robot/subsystems/drivetrain/RotateDrivetrain.java
  src/main/java/frc/robot/subsystems/loader/SetLoaderVelocity.java
  src/main/java/frc/robot/subsystems/mixer/Mixer.java
  src/main/java/frc/robot/subsystems/mixer/SpinMixer.java
  src/main/java/frc/robot/subsystems/shooter/CheesySetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/SetShooterVelocity.java
  src/main/java/frc/robot/subsystems/shooter/Shooter.java
  src/main/java/frc/robot/utils/DashboardDataContainer.java
  src/main/java/frc/robot/utils/TrigonPIDController.java
  src/main/java/frc/robot/vision/TurnToTarget.java
Labels: Command, CommandGroup, enhancement
